<nav class="navbar nav-extended no-padding">
  <div class="nav-wrapper nav-wrapper-with-search">
    <div class="search-wrapper">
      <form>
        <div class="input-field">
          <input
            id="search"
            type="search"
            placeholder="Enter Search Term"
            required=""
            class="autocomplete"
          />
          <label for="search" class="label-icon active"
            ><i class="material-icons">search</i></label
          ><i class="material-icons">close</i>
        </div>
      </form>
    </div>
    <a href="#!" data-target="sidenav-left" class="sidenav-trigger left"
      ><i class="material-icons black-text">menu</i></a
    >
  </div>
</nav>
