<footer class="page-footer">
  <div class="row">
    <div class="col s6">
      <h5>Made with</h5>
      <div class="row">
        <div class="col s6">
          <ul>
            <li>Docker</li>
            <li>Angular</li>
            <li>Materialize</li>
          </ul>
        </div>
        <div class="col s6">
          <ul>
            <li>Django</li>
            <li>PostgreSQL</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col s6">
      <h5>Heading</h5>
    </div>
    <div class="col s12">
      <div class="copyright">&copy; {{ years }} Miroslav Horák</div>
    </div>
  </div>
</footer>
